body {
	margin: 0;
	padding:0;
	font-family: "Roboto", Verdana, sans-serif;
	
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.no-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-header {
	width: 100%;
	margin: 0 auto;
	background-color: #eee;
}
.container {
	margin: 0 auto;
	width: 880px;	
}

.logo-img {
	display: inline-block;
	float: left;
	vertical-align: top;
	width: 140px;
}



.main-navigation  {
	float: right;
	margin-top: 41px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}

.main-navigation ul {
	display: inline-block;
	vertical-align: top;
}

.main-navigation ul li {
	display: inline-block;
	vertical-align: top;
}

.main-navigation-link {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding-left: 40px;
	display: inline-block;
	font-size: 14px;
}

.place-symbol {
	display: inline-block; 
	float: right;
	padding-top: 41px;
	vertical-align: top;
}

.symbol-bin {
	text-decoration: none;
	color:#000;
	text-transform: uppercase;
	padding-left: 35px;
	font-size: 14px;
}

.icon-basket:hover {
	color: #fb565a;
}


/* =========  Пусть слайдер пока остается в таком виде ========= */

/*Работа со слайдером*/

.promo {
	min-height: 310px;
	margin: 0 auto;
	background-color:  #eee;
	display: block;
}

.slider {  /*Ирина, скажите, а класс слайдер здесь точно нужен, 
	за него случайно .promo не прокатит? 
	а тоя уже начинаю путаться в блоках*/
	position: relative; 
	display: block;

}

.slides { /*Подозрительное чувство, что этот блок не нужен*/

}

.slide {	
	height: 100%;
	width: 100%;
}

/* чтобы скрыть какой-либо блок достаточно задать ему свойство 
display:none 
Про :nth-child(2) будут рассказывать на вебинаре
*/

.slide:nth-child(2),
.slide:nth-child(3) {
	display: none;
}

.slogan-item {
	display: inline-block;
	width: 400px;
}
.slogan-big {
	font-size: 36px; 
	font-weight: 500;
	padding-top: 23px;
	line-height: 36px;

}
.slogan-small {
	display: block;  /*не знаю зачем?*/
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;

}
.btn {  /*вообще не поняла, как мы знаем, 
что эти действия к кнопке относятся, почему
	нельзя біло прописать что то типа border:solid 2px #fb565a
	 в классе .btn-slide  */
	background: #fb565a;
    margin-top: 18px;
    padding: 0 70px;
}

.btn-slide {
	border-radius:2px;
	font-size: 16px;
	line-height: 38px;
	color: #fff;
	display: inline-block;
	height: 38px;
	text-decoration: none;
    text-align: center;
    vertical-align: top;
	
}

.image-item {
	display: block;
	float:right;
}

/* =========  Пусть слайдер пока остается в таком виде ========= */



/* ====  Разметка блока с услугами ==== */
/*
1. элементам li внутри block-columns задать display: inline-block и ширину
(замерить в макете);
2. внутри li не нужен еще один div. Li итак блочный элемент и 
лишняя вложенность нам не нужна. 
классы для этих дивов лучше перенесите для li (я сделала для 
первого li, повторите для двух других)
*/

.block-columns {
	margin-left: -38px;
	margin-right: -38px;
}
.bk {
	display: inline-block;
	width: 240px;
	vertical-align: top;
	margin-left: 38px;
	margin-right: 38px;


}

h2 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	


}

.block-columns p {
	font-size: 15px;
	line-height: 22px;
	

}

.btn-red {
    background: #fb565a;
}
.btn-green {
    background: #01a25e;
}
.btn-yellow {
    background: #f1cf62;
}

.btn-columns {
border-radius: 2px;
font-size: 12px;
color: #fff;
display: inline-block;
padding: 0 38px;
line-height: 38px;
height: 38px;
text-transform: uppercase;
text-decoration: none;
text-align: center;
vertical-align: top;
}



/* ====  Разметка блока c текстом ==== */
/*
1. Блоки description-first и description-second можете сделать 
через инлайн-блок или флоаты, 
но в любом случае померить ширину в фотошопе и задать ее
2. 
*/

.description {
color: #181818;
font-size: 16px;
font-weight: 300;
line-height: 22px;
padding: 70px 0 45px 0;
border-bottom: 2px solid #eee;
}

.description-first{
float: left;
width: 580px;
}

.description-second{
float: right;
width: 240px;
}

.description-slogan{
 font-size: 36px;
 font-weight: 500;
 line-height: 36px;
 padding-bottom: 5px;
}
.title-orders {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 44px 0 0 0;
    text-transform: uppercase;
}
.text-orders {
    margin: 21px 0 0 0;
}
.text-orders li {
padding: 0 0 23px 35px;
position: relative;
}

.text-orders li:before {
    border: 1px solid #fb565a;
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 25px;
}



/* ====  Разметка блока c логотипами ==== */
/*
1. для  элементов li в portfolio-items задать
 display: inline-block, одинаковую ширину,и 
 margin по бокам
2.
*/




/* ====  Разметка блока карты  ==== */
/*
1. для wrapper-map задаете свойство position: relative; 
- что дает понять браузеру от 
какого элемента отсчитывать координаты для блока у которого
 будет position: absolute;
2. wrapper-contact задаем свойство position: absolute; и 
отступы сверху (top:) и слева(left)
*/


 

/*!!P.S: помним что для каждого свойства display:inline-block  
есть обязательное замечательно свойство vertical-align: top;*/