body {
	margin: 0;
	padding:0;
	font-family: "Roboto", Verdana, sans-serif;
	
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.no-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-header {
	width: 100%;
	margin: 0 auto;
	background-color: #eee;
}
.container {
	margin: 0 auto;
	width: 880px;	
}

.logo-img {
	display: inline-block;
	float: left;
	vertical-align: top;
	width: 140px;
}



.main-navigation  {
	float: right;
	margin-top: 41px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}

.navigation-menu .active{
    border-bottom: 2px solid #FB565A;
}


.main-navigation ul {
	display: inline-block;
	vertical-align: top;
}

.main-navigation ul li {
	display: inline-block;
	vertical-align: top;
}

.main-navigation-link {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding-left: 40px;
	display: inline-block;
	font-size: 14px;
}

.place-symbol {
	display: inline-block; 
	float: right;
	padding-top: 41px;
	vertical-align: top;
}

.symbol-bin {
	text-decoration: none;
	color:#000;
	text-transform: uppercase;
	padding-left: 35px;
	font-size: 14px;
}

.icon-basket:hover {
	color: #fb565a;
}


/* =========  Пусть слайдер пока остается в таком виде ========= */

/*Работа со слайдером*/

.promo {
	min-height: 310px;
	margin: 0 auto;
	background-color:  #eee;
	display: block;
}

.slider {  /*Ирина, скажите, а класс слайдер здесь точно нужен, 
	за него случайно .promo не прокатит? 
	а тоя уже начинаю путаться в блоках*/
	position: relative; 
	display: block;

}

.slides { /*Подозрительное чувство, что этот блок не нужен*/

}

.slide {	
	height: 100%;
	width: 100%;
}

/* чтобы скрыть какой-либо блок достаточно задать ему свойство 
display:none 
Про :nth-child(2) будут рассказывать на вебинаре
*/

.slide:nth-child(2),
.slide:nth-child(3) {
	display: none;
}

.slogan-item {
	display: inline-block;
	width: 400px;
}
.slogan-big {
	font-size: 36px; 
	font-weight: 500;
	padding-top: 23px;
	line-height: 36px;

}
.slogan-small {
	display: block;  /*не знаю зачем?*/
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;

}
.btn { 
	background: #fb565a;
    margin-top: 18px;
    padding: 0 70px;
}

.btn-slide {
	border-radius:2px;
	font-size: 16px;
	line-height: 38px;
	color: #fff;
	display: inline-block;
	height: 38px;
	text-decoration: none;
    text-align: center;
    vertical-align: top;
	
}

.image-item {
	display: block;
	float:right;
}

/* =========  Пусть слайдер пока остается в таком виде ========= */



/* ====  Разметка блока с услугами ==== */
/*
1. элементам li внутри block-columns задать display: inline-block и ширину
(замерить в макете);
2. внутри li не нужен еще один div. Li итак блочный элемент и 
лишняя вложенность нам не нужна. 
классы для этих дивов лучше перенесите для li (я сделала для 
первого li, повторите для двух других)
*/

.main-centre{
	padding-top: 75px;
	padding-bottom: 75px;
}


.block-columns {
	margin-left: -38px;
	margin-right: -38px;
}
.bk {
	display: inline-block;
	width: 240px;
	vertical-align: top;
	margin-left: 38px;
	margin-right: 38px;


}

h2 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	


}

.block-columns p {
	font-size: 15px;
	line-height: 22px;
	

}

.btn-red {
    background: #fb565a;
}
.btn-red:hover {
    background: #d6494d;
}
.btn-red:active {
    background: #b63538;
}
.btn-green {
    background: #00ca74;
}
.btn-green:hover {
    background: #01a25e;
}
.btn-green:active {
    background: #009053;
}
.btn-yellow {
    background: #efc84a;
}
.btn-yellow:hover {
    background: #d6ae2c;
}
.btn-yellow:active {
    background: #c09b24;
}

.btn-columns {
border-radius: 2px;
font-size: 12px;
color: #fff;
display: inline-block;
padding: 0 38px;
line-height: 38px;
height: 38px;
text-transform: uppercase;
text-decoration: none;
text-align: center;
vertical-align: top;
}



/* ====  Разметка блока c текстом ==== */
/*
1. Блоки description-first и description-second можете сделать 
через инлайн-блок или флоаты, 
но в любом случае померить ширину в фотошопе и задать ее
2. 
*/

.description {
color: #181818;
font-size: 16px;
font-weight: 300;
line-height: 22px;
padding: 70px 0 45px 0;
border-bottom: 2px solid #eee;
}

.description-first{
float: left;
width: 580px;
}


.description-slogan{
 font-size: 36px;
 font-weight: 500;
 line-height: 36px;
 padding-bottom: 5px;
}
.title-orders {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 44px 0 0 0;
    text-transform: uppercase;
}
.text-orders {
    margin: 21px 0 0 0;
}
.text-orders li {
padding: 0 0 23px 35px;
position: relative;
}

.text-orders li:before {
    border: 1px solid #fb565a;
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 25px;
}

.description-second{
float: right;
width: 240px;
}

.description-logo {
	
    text-align: center;
}

.description-year {
	margin-top: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.description-year:before {
    left: -10px;
}
.description-year:after{
	right: 10px;
}

.description-year:before, .description-year:after{
    background: #eee;
    content: '';
    top: 10px;
    height: 2px;
    position: absolute;
    margin: 0 0 0 12px;
    width: 55px;

}

.title-profits {
	font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 55px 0 0 0;
    text-transform: uppercase;
}

.text-profits{
    padding: 0;
    list-style: none;
    margin: 21px 0 0 0;
}

.text-profits li {
	
    padding: 0 0 23px 35px;
    position: relative;
    font-size: 16px;
    

}
.text-profits li:before {
    border: 1px solid #fb565a;
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 25px;
   }

   .portfolio {
    border-bottom: 2px solid #eee;
    margin: 0;
    padding: 40px 20px 10px;
}
.portfolio-items li {
	display: inline-block;
    margin: 0 30px;
    text-align: center;
    vertical-align: middle;
    width: 209px;
}

.portfolio-items a{
	opacity: 0.2;
}
.portfolio-items a:hover {
 opacity: 1;
}


/* ====  Разметка блока c логотипами ==== */
/*
1. для  элементов li в portfolio-items задать
 display: inline-block, одинаковую ширину,и 
 margin по бокам
2. задать нижний border и margin-bottom для блока portfolio

3. для элементов логотипов похожие стили, как мы делали для блоков услуг, 
с отрицательным марджином по бокам

.portfolio-items {
	margin: 0 -20px;
}
.portfolio-items li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 0 20px;
	width: 260px;
} 

*/



/* ====  Разметка блока карты  ==== */
/*
1. для wrapper-map задаете свойство position: relative; 
- что дает понять браузеру от 
какого элемента отсчитывать координаты для блока у которого
 будет position: absolute;
2. wrapper-contact задаем свойство position: absolute; и 
отступы сверху (top:) и слева(left)
*/


.wrapper-map {
	position: relative;
	width: 100%;
	height: 415px;
	background-color: #eee;

}

.wrapper-contact {
	position: absolute;
	top: 90px;
	left: 160px;
	background: #fff;
    color: #666;
    padding: 32px 24px;
    width: 202px;
}

.title-contact{
	font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.address-contact{
	font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin: 12px 0;
}

.phone-contact a{
	color: #000;
	text-decoration: none;
}

.btn-top {
	 margin-top: 38px;
	 text-align: center;

}
.btn-contact {
	background: #fb565a;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    width: 160px;
	
   
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;


} 
.btn-contact:hover {
	background:#d6494d;
}
.label-contact {
	position: absolute;
	top: 110px;
	right: 200px;

}

/*.logo-contact{
	position: absolute;
	top: 170px;
	right: 235px;
}*/

/* ====  Разметка блока footer  ==== */

.socialsite-buttons {
	float: left;
	width: 320px;
}
.socialsite-buttons a{
	
	background: #e1e1e1;
    border-radius: 50%;
    display: inline-block; 
    margin: 5px 10px;
    padding: 5px;
    text-align: center;
    width: 60px;
    height: 60px;
   

}

.btn-site {
	display: inline-block;
    vertical-align: middle;
}


.footer {
	padding-top: 75px;
	padding-bottom: 75px;
}
.icon-vk,.icon-facebook,.icon-instagramm {
	font-size: 26px;
	color: #fff;
	line-height: 60px;

}

.socialsite-buttons a:hover{
	background:#fb565a;
}

.socialsite-buttons a:active{
	background:#d6494d;
}

.footer-text{
	float: right;
	width: 555px;
	
}

.text-discount{
	font-size: 36px;
    line-height: 36px;
    font-weight: 300;     /*Откуда здесь взялся марджин 36????*/
}
.sold {
	font-size: 16px;
    font-weight: 500;


}


   



/*
1. для socialsite-buttons задать ширину и float: left; 
тогда блок прилепится к левой части родительского элемента
2. для footer-text задать также ширину и float: right;
3. к классу footer добавить класс clearfix - помним, что при использовании флоатов, 
этот класс обязательно использовать для родительского класса этих float-элементов.
Элементы, которым задано свойства float имеют особенность выпадать из потока. 
и вот Так называемая "распорка" позволяет блоку в котором лежат float-элементы "быть равной высоте этих элементов".
В курсах академии про это есть  https://htmlacademy.ru/courses/65/run/10  до  https://htmlacademy.ru/courses/65/run/16
4. Социальные кнопки сделать просто ссылками с применением иконочных шрифтов.
*/






/* P.S: помним что для каждого свойства display:inline-block  
есть обязательное замечательно свойство vertical-align: top;*/