@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */







body {
	margin: 0;
	padding:0;
	font-family: "Roboto", Verdana;

}

.main-header {
	width: 100%;
	margin: 0 auto;
	background-color: #3f3f3f;
	/*height: 430px;*/

}
.container {
	width: 1200px;	
	margin: 0 auto;
	
	

}

  
.logo-img {
	width: 140px;
	display: inline-block;
	vertical-align: center;
}

/*расстояние между логотипом и навигацией 180, между словами 40,
 между словом и корзиной 65*/

.main-navigation  {
	margin-left:105px;
	display: inline-block;
	width: 590px;
	font-size: 14px;
	vertical-align: center;
}

.main-navigation ul {
	display: inline-block;
vertical-align: center;}

.main-navigation ul li {
	display: inline-block;
	vertical-align: center;
	list-style: none;
	
	}
.main-navigation ul li a {
	text-decoration: none;
	color:#000;
	text-transform: uppercase;
	padding-left: 40px;
	display: inline-block;
}

.place-symbol{
	display: inline-block; 
	vertical-align: center;
}

.symbol-bin {
	text-decoration: none;
	color:#000;
	text-transform: uppercase;
	padding-left: 55px;

}

 
.symbol-bin {
	position: relative;
}


.symbol-bin:before {
background: url('../img/bin1.png') no-repeat;
content: '';
position: absolute;
left: 10px; /*(отступ для символа корзины слева)*/
top:  0;  /*(отступ для символа корзины сверху)*/
height: 15px ; /*(здесь указать высоту элементы корзина)*/
width: 15px ; /*(здесь указать ширину элементы корзина)*/
}


/*Работа со слайдером*/

.promo {
	height: 310px;
	background-color:  #3f3f3f;
}


